.previous-passwords {
  margin-top: 20px;
}

.previous-passwords h3 {
  font-size: 20px;
  color: #333;
}

.previous-passwords ul {
  list-style: none;
  padding: 0;
  margin-top: 10px;
}

.previous-passwords li {
  font-size: 16px;
  color: #555;
  margin: 5px 0;
  padding: 8px;
  background-color: #f0f0f0;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.previous-passwords li span {
  font-weight: bold;
  color: #333;
}
